body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    margin-left: 20px;
    background: white;
    padding: 20px;
    width: 450px;
}

h1 {
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
button {
    width: calc(100% - 22px); /* Adjusted width to account for padding and border */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.row > div {
    flex: 1;
    margin-right: 10px;
}

.row > div:last-child {
    margin-right: 0;
}
